#board button {
  width: 75px;
  height: 75px;
  background-color: #2ecc71;
  border-color: darkturquoise;
  border-width: 1px;
  border-style: solid;
  /* padding: 1%; */
  justify-content: center;
  /* min-width: 10px;
  min-height: 10px; */
  /* max-width: 100px;
  max-height: 100px; */
}

#board {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 50px; */
  max-height: 600px;
  max-width: 630px;
}

#instructions {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  /* max-height: 600px; */
  min-width: 500px;
}
